@import './assets/css/index.css';

#root {
  background: linear-gradient(135deg, #134E5E 0%, #71B280 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100dvh;
  margin: 0 auto;
  padding: 2rem;
}
.main{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
}
.title{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-family: var(--bold);
  font-size: var(--f3);
  margin: 0 0 20px 0;
}
.FundoNotinha{
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  padding: 24px 0;
  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);  border-radius: 24px;
  width: 400px;
}
.title-card{
  font-family: var(--semibold);
  font-size: var(--f3);
  margin: 0 0 30px 0;
}
label{
  width: 100%;
  font-family: var(--semibold);
  font-size: var(--f2);
}
.input-group {
  display: flex;
  align-items: stretch;
  width: 100%;
  font-family: var(--light);
  border: 2px solid #000; 
  border-radius: 8px;  
  box-shadow: 4px 4px 0 #000;
  background-color: rgba(255, 255, 255, 0.6);
  overflow: hidden;
  transition: all 0.2s ease;
  margin: 0 0 10px 0;

}

.input-group:focus-within {
  box-shadow: 6px 6px 0 #000;
  transform: translate(-2px, -2px);
  background-color: #fff;
}
.icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 10px; 
  background-color: var(--cor-bege); 
  border-right: 2px solid #000;
  color: #000;
}

.input-group input {
  width: 100%;
  border: none; 
  outline: none; 
  background: transparent; 
  padding: 12px; 
  font-size: 1rem;
  font-weight: bold;
  color: #000;
}
button{
  background-color: var(--cor-verde-escuro-3);
  width: 100%;
  padding: 16px 0;
  font-family: var(--semibold);
  font-size: var(--f3);
  border-radius: 24px;
  color: var(--cor-branco);
  transition: all 0.3s;
}
button:hover{
  transform: scale(1.03);
}
input {
  width: 110%;
  padding: 1rem;
  font-size: 1rem;
  border: 1.5px solid #000;
  border-radius: 0.5rem;
  box-shadow: 2.5px 3px 0 #000;
  outline: none;
    background: rgba(255, 255, 255, 0.25);
  transition: ease 0.25s;
}

input:focus {
  box-shadow: 5.5px 7px 0 black;
}
.resultado{
  margin: 30px 0 0 0;
  border-top: dashed 1px var(--cor-azul-escuro);
  padding: 24px 0 0 0; 
  border-width: 4px;
}
.ValorFinal{
  font-family: var(--semibold);
  font-size: var(--f4);
  color: var(--cor-verde-escuro-3);
}
.listaResultado{
  font-family: var(--light);
  font-size: var(--f3);
}
.erroMsg{
  text-align: center;
  font-family: var(--bold);
  color: var(--cor-vermelho);
  margin: 10px 0 20px 0;
  font-size: var(--f2);
}
.lista{
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
  gap: 10px;
}
.iconeInput{
  border-radius: 10px;
  background-color: var(--cor-bege);
  padding: 5px;
}
.slider-container {
  position: relative;
  margin: 8px 0 10px 0;
  padding: 0 5px;
}

.range-slider {
  -webkit-appearance: none;
  width: 100%;
  height: 8px;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  outline: none;
}

.range-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 27px;
  height: 27px;
  background: var(--cor-verde-escuro-2);
  cursor: pointer;
  border-radius: 50%;
  transition: transform 0.1s;
}

.range-slider::-webkit-slider-thumb:active {
  transform: scale(1.1);
  background: #71B280;
}
hr{
  position: absolute;
  top: 15px;
  background-color: var(--cor-verde-escuro-2);
  width: 87%;
  border-radius: 20px;
  margin: 0 0 0 15px;
  height: 5px;
}