@import './assets/css/index.css';

#root {
  background: linear-gradient(135deg, #134E5E 0%, #71B280 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100dvh;
  margin: 0 auto;
  padding: 2rem;
}
.main{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
}
.title{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-family: var(--bold);
  font-size: var(--f3);
  margin: 0 0 20px 0;
}
.FundoNotinha{
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  padding: 24px;
  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);  border-radius: 24px;
  width: 500px;
}
.title-card{
  font-family: var(--semibold);
  font-size: var(--f3);
  margin: 0 0 30px 0;
}
label{
  width: 100%;
  font-family: var(--semibold);
  font-size: var(--f2);
}
.inputs{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  margin: 0 0 30px -43px;
  padding: 0 40px;
}
button{
  background-color: var(--cor-verde-escuro-3);
  width: 100%;
  padding: 16px 0;
  font-family: var(--semibold);
  font-size: var(--f3);
  border-radius: 24px;
  color: var(--cor-branco);
  transition: all 0.3s;
}
button:hover{
  transform: scale(1.03);
}
input {
  width: 110%;
  padding: 1rem;
  font-size: 1rem;
  border: 1.5px solid #000;
  border-radius: 0.5rem;
  box-shadow: 2.5px 3px 0 #000;
  outline: none;
    background: rgba(255, 255, 255, 0.25);
  transition: ease 0.25s;
}

input:focus {
  box-shadow: 5.5px 7px 0 black;
}
.resultado{
  margin: 30px 0 0 0;
  border-top: dashed 1px var(--cor-azul-escuro);
  padding: 24px 0 0 0; 
  border-width: 4px;
}
.ValorFinal{
  font-family: var(--semibold);
  font-size: var(--f4);
  color: var(--cor-verde-escuro-3);
}
.listaResultado{
  font-family: var(--light);
  font-size: var(--f3);
}
.erroMsg{
  text-align: center;
  font-family: var(--bold);
  color: var(--cor-vermelho);
  margin: 10px 0 20px 0;
  font-size: var(--f2);
}
.lista{
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
  gap: 10px;
}