@import './assets/css/index.css';

#root {
  width: 100vw;
  height: 100dvh;
  margin: 0 auto;
  padding: 2rem;
}
.main{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
}
.title{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-family: var(--bold);
  font-size: var(--f5);
}
.FundoNotinha{
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  padding: 12px;
  background: linear-gradient(to bottom, #ffffff 0%, #fafbfc 100%);
  border-radius: 24px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  width: 300px;
  height: 30rem;
}
.title-card{
  font-family: var(--semibold);
  font-size: var(--f3);
  margin: 0 0 30px 0;
}
.inputs{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}
input {
  width: 100%;;
  padding: 0.875rem;
  font-size: 1rem;
  border: 1.5px solid #000;
  border-radius: 0.5rem;
  box-shadow: 2.5px 3px 0 #000;
  outline: none;
  transition: ease 0.25s;
}

input:focus {
  box-shadow: 5.5px 7px 0 black;
}
